Repository sebbASF/tooling-trusted-releases: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: Ruff Linter
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: uv run ruff format --force-exclude
  language: system

pyright:
  name: Pyright Type Check
  entry: uv run pyright
  language: system
  require_serial: true

Add more information about type error ignore conventions
  atr/docs/code-conventions.md
Due: none

Add a script to fix function order
  scripts/fix_order.py
  scripts/fix_order.sh
Due: ruff, ruff-format, pyright

Fix function names and order in the server module
  atr/server.py
  scripts/fix_order.sh
Due: ruff, ruff-format, pyright

Delete the scannable secret drafts, which have moved to tooling-docs
  notes/draft-asf-token-standard-faq.md
  notes/draft-asf-token-standard.md
Due: none

Remove some unused keys and voting templates
  atr/templates/keys-add.html
  atr/templates/keys-ssh-add.html
  atr/templates/voting-selected-revision.html
Due: none

Remove former team members
  atr/datasources/apache.py
Due: ruff, ruff-format, pyright

Make the project forms more type safe
  atr/forms.py
  atr/get/projects.py
  atr/get/report.py
  atr/post/projects.py
  atr/post/tokens.py
  atr/shared/__init__.py
  atr/shared/projects.py
  atr/templates/check-selected-path-table.html
  atr/templates/check-selected-release-info.html
  atr/templates/check-selected.html
  atr/templates/macros/dialog.html
  atr/templates/projects.html
  atr/util.py
Due: ruff, ruff-format, pyright

Add several more semgrep rule packs
  .pre-commit-heavy.yaml
Due: none

Make a change suggested by semgrep
  .pre-commit-heavy.yaml
  atr/ssh.py
Due: ruff, ruff-format, pyright

Add back public keys menu item
  atr/templates/includes/topnav.html
Due: none

Make fixed topnav require enough width (#415)
  .pre-commit-config.yaml
  atr/static/css/atr.css
  atr/templates/layouts/base.html
Due: none

Add docker-compose for local use, with hot reload and local state directory
  docker-compose.yml
Due: none

Move background task polling and committee filtering to separate files
  atr/static/js/committee-directory.js
  atr/static/js/ongoing-tasks-poll.js
  atr/templates/check-selected.html
  atr/templates/committee-directory.html
Due: none

Add sbom generation test and fixtures for the rest of the sbom tests going forward. Remove root dir checking for SBOM generation.
  atr/tasks/sbom.py
  tests/Dockerfile.e2e
  tests/e2e/sbom/__init__.py
  tests/e2e/sbom/conftest.py
  tests/e2e/sbom/test_post.py
  tests/e2e/test_files/apache-test-0.2.tar.gz
Due: ruff, ruff-format, pyright

Fix a lint error in the code to copy to clipboard
  atr/static/js/src/clipboard-copy.js
  atr/static/js/src/copy-variable.js
Due: none

Add tests for the script on the committees page
  tests/e2e/committees/__init__.py
  tests/e2e/committees/conftest.py
  tests/e2e/committees/test_get.py
Due: ruff, ruff-format

Fix lint errors in the script for the committee directory
  atr/static/js/src/committee-directory.js
Due: none

Fix lint errors in the ongoing tasks script
  atr/static/js/src/ongoing-tasks-poll.js
Due: none

Fix small issues in a few script files
  atr/static/js/src/admin-update-form.js
  atr/static/js/src/projects-add-form.js
  atr/static/js/src/projects-directory.js
Due: none

Add tests for the scripting on the report page
  tests/e2e/announce/conftest.py
  tests/e2e/committees/conftest.py
  tests/e2e/report/__init__.py
  tests/e2e/report/conftest.py
  tests/e2e/report/test_get.py
  tests/e2e/sbom/conftest.py
  tests/e2e/test_files/apache-test-0.2.tar.gz
  tests/e2e/vote/conftest.py
Due: ruff, ruff-format

Treat all script lint warnings as errors
  .pre-commit-heavy.yaml
Due: none

Add tests for the script on the voting page
  tests/e2e/compose/conftest.py
  tests/e2e/report/conftest.py
  tests/e2e/sbom/conftest.py
  tests/e2e/vote/conftest.py
  tests/e2e/voting/__init__.py
  tests/e2e/voting/conftest.py
  tests/e2e/voting/test_get.py
Due: ruff, ruff-format

Fix lint errors in the script to display the vote email preview
  atr/static/js/src/vote-preview.js
Due: none

Link to vulnerability details from report, include more info in error model, don't error on missing PURL for files.
  atr/get/sbom.py
  atr/models/results.py
  atr/sbom/cli.py
  atr/sbom/conformance.py
  atr/sbom/models/bom.py
  atr/sbom/models/conformance.py
  atr/sbom/osv.py
  atr/tasks/sbom.py
  start-dev.sh
Due: ruff, ruff-format, pyright

Remove unused JS configuration files and settings
  .gitignore
  eslint.config.mjs
  package.json
Due: none

Improve the Bootstrap build process
  .gitignore
  Makefile
  bootstrap/context/.npmrc
  bootstrap/context/Dockerfile
  bootstrap/context/build.sh
  bootstrap/context/bump.sh
  bootstrap/make.sh
  bootstrap/source/custom.scss
  bootstrap/source/reboot-shim.scss
Due: none

Remove an unused Bootstrap CSS asset
  atr/static/css/bootstrap.min.css
Due: none

Fix a bug in the file interface
  atr/get/file.py
Due: ruff, ruff-format, pyright

Only allow SVN imports from known locations
  atr/form.py
  atr/get/upload.py
  atr/post/upload.py
  atr/shared/upload.py
Due: ruff, ruff-format, pyright

Return actual error if task fails, otherwise timeout
  atr/db/interaction.py
Due: ruff, ruff-format, pyright

Store vulnerabilities in SBOM and read back from the report. Store ATR task info in SBOM as a reference.
  atr/get/checks.py
  atr/get/sbom.py
  atr/models/results.py
  atr/sbom/cli.py
  atr/sbom/models/bom.py
  atr/sbom/models/osv.py
  atr/sbom/osv.py
  atr/sbom/utilities.py
  atr/tasks/sbom.py
  atr/templates/check-selected-path-table.html
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, pyright

Remove the SHA-256 generation button
  atr/get/draft.py
  atr/post/draft.py
  atr/shared/draft.py
  atr/storage/writers/release.py
  atr/templates/draft-tools.html
Due: ruff, ruff-format, pyright

Fix a couple of bugs in the SBOM report augment section
  atr/get/sbom.py
  atr/storage/writers/sbom.py
Due: ruff, ruff-format, pyright

Collate licenses as part of SBOM scoring and add to report
  atr/get/sbom.py
  atr/models/results.py
  atr/sbom/licenses.py
  atr/sbom/models/licenses.py
  atr/tasks/sbom.py
Due: ruff, ruff-format, pyright

Take the phase navigation bar out of the top navigation shadow
  atr/shared/distribution.py
  atr/static/css/atr.css
Due: ruff, ruff-format, pyright

Use uvloop to avoid APPLICATION_DATA_AFTER_CLOSE_NOTIFY errors
  Makefile
  atr/server.py
  pyproject.toml
  start-atr.sh
  start-dev.sh
  uv.lock
Due: ruff, ruff-format, pyright

Fix function order in GET route modules
  atr/get/announce.py
  atr/get/file.py
  atr/get/finish.py
  atr/get/manual.py
  atr/get/root.py
  atr/get/start.py
  atr/get/voting.py
Due: ruff, ruff-format, pyright

Fix a problem with preformatted style in table cells
  atr/static/css/atr.css
Due: none

Make top margin more consistent between pages
  atr/shared/distribution.py
  atr/static/css/atr.css
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$, but not: ^node_modules/
  ruff-format: any of: \.py$, but not: ^node_modules/
  pyright: any of: \.py$ and not (^tests/) and not (^node_modules/)
